<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Private Group</title>
    <link href="{{ url_for('static', filename='styles/groups.css')}}" rel="stylesheet" />
</head>
<body>
    <div class="header">
        <h1>Notes App</h1>
        <div class="logo"> Create a Private Group</div>
    </div>
    
    <form id="groupForm" action="/create_group" method="post">
        <div class="section">
            <label for="title">Title:</label>
            <input type="text" id="title" name="group_name" required>
        </div>
        
        <button type="submit">Create Group</button>
    </form>
</body>
</html>
